/*----------------------  2 [Base]  ----------------------
/**
  Base syntax should not contain any classes, id or use attribute selectors of any kind.
  Resets or basic styles for elements belong here

  Example:
    header { ... }

html
  font-size: 100%
body
  background: $background
  color: $text
  font: 400 1rem/1.5 sans-serif
  margin: 1rem 1.75rem
a
  color: $text
  transition: 200ms ease-in-out
  &:hover
    color: darken($text, 10%)

nav
  padding: 1rem
  ul
    list-style: none
    margin: 0
    padding: 0
  a
    text-decoration: none
    transition: 200ms ease-in-out
    &:hover
      color: darken($text, 10%)

button, input, select, textarea
  margin: 0
  padding: 0
  border: 0
  background: transparent
  font: inherit
  color: inherit
  cursor: pointer

input
  border: 1px solid $accent
  border-radius: 0.5rem
  padding: 0.5rem 1rem
  margin-right: 1rem

form
  display: flex
  flex-direction: row
  align-items: center

ul.list__container
  margin: 0
  padding: 0
  list-style: none
  li
    margin: 1.5rem 0
/*----------------------  End Base  ----------------------*/
